<div class="mt-5 footer py-2 w-100 text-light">
  <div class="row w-100 justify-content-center text-center align-items-center">
    <div class="col-12 fs-5 my-1">
      <span
        >Site developed with <span class="fs-5 fas fa-heart"></span> and passion
        using <span class="fab fa-angular fs-4"></span> by
        <a href="#" class="text-light text-decoration-none"> Faizal Khan</a>
      </span>
    </div>
    <div class="col-12 fs-5">
      <span><span class="fs-4">&copy;</span> Copyrights 2022 </span>
    </div>
  </div>
</div>
