.name {
  color: var(--color-2);
}
.salutation {
  color: var(--color-4);
  font-size: 5.2rem;
  margin-left: 5rem;
  font-weight: bolder;
}
.name {
  margin-left: 5rem;
  font-size: 5.5rem;
  font-weight: bolder;
}
.sub-heading {
  margin-left: 5rem;
  color: var(--color-3);
}
#home {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
.hero-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/images/herofksq.png") no-repeat right;
  background-size: contain;
}
.typewriter {
  color: var(--color-5);
}
@media screen and (max-width: 840px) {
  .hero-section {
    background-position: bottom;
  }
}
@media screen and (max-width: 750px) {
  .salutation,
  .name,
  .sub-heading {
    margin-left: 2rem;
  }
  .hero-section {
    background-size: cover;
  }
}
@media screen and (max-width: 600px) {
  .name {
    font-size: 4rem;
  }
  .salutation {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 455px) {
  #home {
    margin-top: 9vh;
  }
}
@media screen and (max-width: 380px) {
  .name {
    font-size: 3.2rem;
  }
  .salutation {
    font-size: 3rem;
  }
  .sub-heading {
    font-size: 1.3rem;
  }
  .name,
  .sub-heading,
  .salutation {
    margin-left: 1.3rem;
  }
}
