.project-title {
  color: var(--color-3);
  font-size: 2rem;
}
#projects {
  width: 100%;
}
.project-card {
  background: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: 1px solid var(--color-5);
}
.heading {
  color: var(--color-2);
}
.name {
  color: var(--color-3);
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline var(--color-5);
}

.project-card:hover {
  /* box-shadow: 0 0 15px var(--color-5); */
  box-shadow: inset 0 0 15px var(--color-5), 0 0 25px var(--color-5);

  transform: translateY(-10px);
}
@media screen and (max-width: 990px) {
  .project-card {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 452px) {
  .project-card .card-body span {
    font-size: calc(0.95rem + 0.3vw) !important;
  }
}
@media screen and (max-width: 330px) {
  .project-card .card-body span {
    font-size: calc(0.9rem + 0.3vw) !important;
  }
}
